body{
  font-family:"Roboto", sans-serif;
  color: #434455;
  background-color:#FFFFFF
}
h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 0;
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  list-style: none;
}
img{
  display: block;
  max-width: 100%;
	height: auto;
}
.container{
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav{
  display: flex;
  align-items: center;
}

  a{
    text-decoration: none;
}
.studio{

font-family: "Raleway", serif;
color:#2e2f42;}
.studio-footer{
color: #F4F4FD;
display: inline-block;
}
.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform:uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.menu{
  display: flex;
  gap: 40px;

}
h1{
font-family: "Roboto";
font-size: 56px;
font-weight: 700;
line-height: 60;
letter-spacing: 0.02em;
text-align: center;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px; 
  margin: -1px;
  padding: 0;  
  overflow: hidden;
  clip: rect(0, 0, 0, 0); 
  border: 0;
  }
  .link-header .container {
    display: flex;
    align-items: center;
}
.link-header{
  border-bottom: 1px solid #e7e9fc;
  font-style: normal;
  box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.link-head{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 24px 0;
  display: block;
  position: relative;
  color: #404bbf;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-head.current::after{
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.address-list{
  display: flex;
  gap: 40px;
}
.link-head:hover,
.link-head:focus{
color:#404bbf;
}
.address-head{
  font-style: normal;
  margin-left: auto;
}
.link-address{
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.02em;
text-align: left;
color:#434455;
line-height: 1.5;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-address:focus, 
.link-address:hover{
  color: #404BBF;
}
h2{
font-family: "Roboto";
font-size: 20px;
font-weight: 500;
line-height: 24;
letter-spacing: 0.02em;
text-align: left;
}
h3{
font-family: "Roboto";
font-size: 16px;
font-weight: 400;
line-height: 24;
letter-spacing: 0.02em;
text-align: left;
}
.section-one{
  background-color:#2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.business{
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
}
.button-order{
  display: block;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order:hover,
.button-order:focus{
  background-color: #404BBF;
  cursor: pointer;
}
.zag{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color:#2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.para{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
font-weight: 400;
color: #434455;
}
.section-tree{
  background-color: #F4F4FD;
  padding: 120px 0;
}
.zag-tree{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color:#2e2f42;
  margin-bottom: 72px;
}
.pic{
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  width: calc((100%-72px)/4);
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color:#2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.para-job{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.person{
  padding: 32px 0
}
.section-four{
  padding-top: 120px;
  padding-bottom: 120px;
}
.zag-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color:#2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list .portfolio-item{
  width: calc((100% - 48px)/3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin: 0;
}
.portfolio{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color:#2e2f42;
  margin-bottom: 8px;
}

.portfolio-list .portfolio-item:hover {
  width: calc((100% - 48px)/3);
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-text{
  position: relative;
  overflow: hidden;
}
.portfolio-list .portfolio-item .hover-text .hover-para{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list .portfolio-item:hover .hover-text .hover-para{
  transform: translateY(0%);
}
.portfolio-name {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-two{
  padding: 120px 0;
}
.conteiner-strategy {
  justify-content: center;
}
.section-two-list{
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}
.conteiner-strategy>li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 264px;
  height: 104px;
}
.section-two-item{
  display: inline-block;
  width: calc((100% - 72px) / 4);
}
.list-prof{
  display: flex;
  gap: 24px;
}
.icon {
  width: 64px;
  height: 64px;
}
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.socials-list{
  display: flex;
  justify-content: center;
  gap: 24px;
}
.socials{
  width: 40px;
  height: 40px;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link{
  width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.icon-social{
fill: #f4f4fd;
}
.footer{
  background-color:#2e2f42;
  padding: 100px 0;
}
.footer-para{
  line-height: 1.5;
  color:#F4F4FD;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-logo{
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer .subcontainer {
  margin-right: 120px;
}
.social-footer{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#FFFFFF;
  margin-bottom: 16px;
}
.footer-social-list{
  display: flex;
  gap: 16px;

}
.footer-social-item{
  width: 40px;
  height: 40px;
}
.footer-link{
  width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus{
  background-color: #31d0aa;
}
.footer-sub{
margin: 0 auto;
}
.footer-sup-para{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-form{
  display: flex;
  gap: 24px;
}
.footer-input{
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer-input::placeholder{
  color: #ffffff;
}
.sub-button{
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  min-width: 165px;
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center; 

}
.icon-sub{
  color: #FFFFFF;
  margin-left: 16px;
}
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
  padding: 72px 24px 24px 24px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px; 
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus{
  border: none;
  background-color: #404bbf;
  fill: #ffffff
}
.icon-modal{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-para{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color:#2E2F42;
  margin-bottom: 16px;
}
.form-div{
  margin-bottom: 8px;

}
.lable-user{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:#8e8f99;
  display: block;
  margin-bottom: 4px;

}
.user-div{
  position: relative;

}
.input-name{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.input-name:focus-within{
  border-color: #4D5AE5;
}
.icon-modal-info{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.icon-modal-info:focus-within{
  fill: #4D5AE5;
}
.user-div input:focus + svg {
  fill: #4D5AE5;
}
.form-comment{
  margin-bottom: 16px;
}
.textarea-class{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4); 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-class:focus-within{
  border-color: #4D5AE5;
}
.check-div{
  margin-bottom: 24px;
}
.privacy-label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-span{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
 .a-policy{
  color: #4d5ae5;
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.input-check:checked + label > span {
  background-color:#404bbf;
  border: none;
  fill: #F4F4FD;
}
.send-button{
  margin: 0 auto;
  display: block; 
  min-width: 169px;
  height: 56px ;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}